<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://odant.org/web/core/oda.js"></script>
    <script src="JStest.js"></script>
</head>
<body>
<oda-module id="my-cat">
    <template>
        <style>
            :host(
                background-color : yellow
            )
            .count{
                border: 7px solid aqua;
                background-color: darkorchid;
                padding: 10px;
            }
            .prop{
                background-color: blue;
                border: 7px solid yellow;
                padding: 5px;
            }

            .array{
                background-color: greenyellow
            }
        </style>
        <span style="border: 10px solid green; background-color: aqua"  v-text="Gender">Мяу</span>
        <span style="background-color: red; border: 3px solid blue" v-text="nickName"></span>
        <span class="array" v-for="item in pows" >Ножка{{item}} </span>
        <span  class="prop" v-text="property"></span>
        <span class="count">Колличество: </span><span  v-text="claws"></span>

        <button @click="calcClaws()">Calculate</button>
        <button @click="clickMyr()">Мур</button>
        <input @keydown="onKey"/>

        <button @click="clickMyr()">Кнопка</button>
        <my-dog :name ='propdog'></my-dog>
        <input v-model="voice"/>
    </template>
    <script>
        ODA({
            is : 'my-cat',
            properties: {

                propdog:{
                    value:'Dog'
                },
                nickName: {
                    category : 'Свойства кошки',
                    default: 'Мурка',
                    label : 'Кличка',
                    type : String
                },
                Gender:{
                    category : 'Свойства кошки',
                    enum: ['Кот', 'Кошка'],
                    default: 'Кошка'
                },
                Weight: {
                    category : 'Свойства кошки',
                    default: 0,
                    type: Number
                },
                pows:{
                    value:[{pow1:4},{pow2:4},{pow3:4},{pow4:4}]
                },
                countClows:{
                      get(){
                         let count = this.pows.value;
                         return count
                      }
                },
                property: {
                    get(){
                        return 'Количество ' +  this._countClows;
                    }
                },
                frontPows:{
                    default: '0',
                    type: Number
                },
                hindPows:{
                    default: '0',
                    type: Number
                },
                claws:{
                    default: 0,
                    type:Number,
                    watch(n,o){
                        if(n>10){
                            alert("Генетичемкая аномалия так и запишем");
                        }
                    }

                },
                clawstext:{
                    value: 0
                },
                sound:{
                    type:String
                },
                keys:{
                    type : String
                },
                voice:{
                    value:"Гав"
                }

            },

            calcClaws(event) {
                this.clawstext = this.frontPows + this.hindPows;
                console.log(this.clawstext);
                myMethod();
                on_click();
            },

            clickMyr(event){
                alert("Myr");
                this.sound = "Myr";
            },

            onKey(event){
                alert(event.key);
                this.keys += event.key;
            },
            observers:[
                function observer(frontPows, hindPows){
                   this.countClows = this.frontPows + this.hindPows;
                }
            ],

            listeners:{
                click(){
                    alert("Нажали левую кноаку мыши");
                },
                contextmenu(){
                    alert("Нажали правую кноаку мыши");
                }
            }


        })
    </script>
</oda-module>
<oda-module id="my-dog">
    <template>
        <span>{{propdog}}</span>
    </template>
    <script>
        ODa({
            is: 'my-dog'
        })
    </script>
</oda-module>
</body>
</html>