<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <script src="https://odant.org/web/core/oda.js"></script>
    <script src="JStest.js"></script>
</head>
<body>
<oda-module id="my-component">
    <template>
        <style>
            :host(
                border: 5px solid red;
                padding: 10px;
                background-color: yellow;
            )
        </style>
        <span style="border: 5px solid green; padding: 5px" v-text="property">Hellow world!</span>
        <span style="border: 5px solid red; background-color: aqua; padding: 5px" v-text="Array.length">Array</span>
        <span v-for="item, index in Array" :key="index">Element[{{index}}]={{item}}  </span>
        <span v-text="propertyObj"></span>
        <span v-text="propertyObj.name2"></span>
        <span v-for="value, name in propertyObj">{{name}}:{{value}}</span>
        <a href="Cats.html">Cats</a>
        <my-secondmodule></my-secondmodule>
    </template>

    <script>
        ODA({
            is : 'my-component',
            properties:{
                property :{
                    category : 'Моя категория',
                    default: 'свойство',
                    enum : ['Значение 1', 'Значение 2'],
                    _property: 'Скрытое',
                    get(){
                        return this._property;
                    }
                },
                Array:{
                    value: ['1', '2', '3', '4']
                },
                propertyObj: {
                    default: {
                        name1: 'Значение 1',
                        name2: 'Значение 2'
                    }
                },
                FirstName:{
                    value: 'Sasha',
                    watch(n, o){
                        alert('Старое значение: ' + o + 'Новое значени: ' + n);
                    }
                },
                LastName:{
                    value : 'Vinichuk'
                },
                FullName:{
                    label: 'Полное имя',
                    get() {
                        return this.FirstName + ' ' + this.LastName;
                        console.log(this.FullName);
                    },
                    watch(n, o){
                        this.FullName = this.FirstName + n;
                    }
                },
                set(value){
                    let names = value.split(' ');
                    this.FirstName = names[0];
                    this.LastName = names[names.length - 1];
                },
                counter:0
            },
            onClick1(event){
                this.counter++;
                alert(event.target.tagName+ "Меня левой кнопкой нажали" + this.counter);
            },
            onClick2(event){
                this.counter++;
                alert(event.target.tagName+ "Меня правой кнопкой нажали" + this.counter);
            },
            onKeyDown(event){
                alert("Нажал кнопку" + event.key);
            },
            listeners:{
                'my-event':'OnMyEvent'
            },

            onBtnClick(){
                alert('Start my event');
                this.fire('my-event', 'Data');
                this.$refs.span.dispatchEvent(new Event('my-event'));
            },

            OnMyEvent(event){
                alert('Event already DONE!!!' + event.detail.value);
            }
        })
    </script>
</oda-module>
<oda-module id="my-secondmodule">
    <template>
        <a href="HW_1.html">HW</a>
        <span v-text="FirstName"></span>
        <span v-text="LastName"></span>
        <span v-text="FullName"></span>

        <button v-on="{'click': onClick1, 'contextmenu': onClick2}">{{counter}}</button>
        <button @click.once="onClick1">{{counter}}</button>
        <input @keydown.ctrl.alt.enter="onKeyDown"/>
        <input @keydown.exact="onKeyDown"/>
        <input @mousedown.right="onKeyDown"/>
        <button @tap="onBtnClick">Button</button>

    </template>
    <script>
        ODA({
            is:'my-secondmodule',
            properties: {
                FirstName: {
                    value: 'Sasha',
                    watch(n, o) {
                        alert('Старое значение: ' + o + 'Новое значени: ' + n);
                    }
                },
                LastName: {
                    value: 'Vinichuk'
                },
                FullName: {
                    label: 'Полное имя',
                    get() {
                        return this.FirstName + ' ' + this.LastName;
                        console.log(this.FullName);
                    },
                    watch(n, o) {
                        this.FullName = this.FirstName + n;
                    }
                },
                set(value) {
                    let names = value.split(' ');
                    this.FirstName = names[0];
                    this.LastName = names[names.length - 1];
                },
                counter: 0
            },
            onClick1(event) {
                this.counter++;
                alert(event.target.tagName + "Меня левой кнопкой нажали" + this.counter);
            },
            onClick2(event) {
                this.counter++;
                alert(event.target.tagName + "Меня правой кнопкой нажали" + this.counter);
            },
            onKeyDown(event) {
                alert("Нажал кнопку" + event.key);
            },
            listeners: {
                'my-event': 'OnMyEvent'
            },

            onBtnClick() {
                alert('Start my event');
                this.fire('my-event', 'Data');
                this.$refs.span.dispatchEvent(new Event('my-event'));
            },

            OnMyEvent(event) {
                alert('Event already DONE!!!' + event.detail.value);
            }

        })
    </script>

</oda-module>
</body>
</html>