<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <script src="https://odant.org/web/core/oda.js"></script>
</head>
<body>
<oda-module id="my-component">
    <template>
        <span v-text="property">Hellow world!</span>
        <span v-text="Array.length">Array</span>
        <span v-for="item, index in Array" :key="index">Element[{{index}}]={{item}}  </span>
        <span v-text="propertyObj"></span>
        <span v-text="propertyObj.name2"></span>
        <span v-for="value, name in propertyObj">{{name}}:{{value}}</span>
        <a href="Cats.html">Cats</a>
        <a href="HW_1.html">HW</a>
    </template>
    <script>
        ODA({
            is : 'my-component',
            properties:{
                property :{
                    category : 'Моя категория',
                    default: 'свойство',
                    enum : ['Значение 1', 'Значение 2']
                },
                Array:{
                    value: ['1', '2', '3', '4']
                },
                propertyObj: {
                    default: {
                        name1: 'Значение 1',
                        name2: 'Значение 2'
                    }
                }

            }
        })
    </script>
</oda-module>
</body>
</html>